/* _content/MyWebPage2/Pages/About.razor.rz.scp.css */

.input-field[b-3ji5sqopcf] {
    position: relative;
}

    .input-field input[b-3ji5sqopcf] {
        width: 350px;
        height: 60px;
        border-radius: 6px;
        font-size: 18px;
        padding: 0 15px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
    }

    .input-field label[b-3ji5sqopcf] {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 19px;
        pointer-events: none;
        transition: 0.3s;
    }

input:focus[b-3ji5sqopcf] {
    border: 2px solid #18ffff;
}

    input:focus ~ label[b-3ji5sqopcf],
    input:valid ~ label[b-3ji5sqopcf] {
        top: 0;
        left: 15px;
        font-size: 16px;
        padding: 0 2px;
        background: #060b23;
    }
/* _content/MyWebPage2/Pages/Contact.razor.rz.scp.css */
body[b-gb0ofual5f] {
}
.content[b-gb0ofual5f]{
    text-align:center;
    padding:200px;
}
.content h3[b-gb0ofual5f] {
    color: white;
}
.content span[b-gb0ofual5f] {
    color: white;
}
.content span:hover[b-gb0ofual5f] {
    transform: rotate(360deg);
    transition: 2s;
}
.locationIcon[b-gb0ofual5f]{
    color:white;
    font-size:140px;
   
}
    .locationIcon .tooltiptext[b-gb0ofual5f] {
        visibility: hidden;
        width: 300px;
        background-color: transparent;
        color: white;
        text-align: center;
       
     
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        font-size:20px;
    }
    .locationIcon:hover .tooltiptext[b-gb0ofual5f] {
        visibility: visible;
    }
/* _content/MyWebPage2/Pages/Education.razor.rz.scp.css */

.box[b-6w8w18izqc]{
   height:550px;
   width:100%;
   padding:5%;
   
}

.insideBox[b-6w8w18izqc] {
    text-align:center;
   
}
container[b-6w8w18izqc] {
    position: absolute;
    width: 1100px;
    display: flex;
   text-align:center;
   
   
}

.container .card[b-6w8w18izqc] {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

    .container .card:hover[b-6w8w18izqc] {
        height: 300px;
    }


    .container .card .image[b-6w8w18izqc] {
        position: relative;
        width: 260px;
        height: 260px;
        top: -40%;
        left: 8px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.2);
        
    }

        .container .card .image img[b-6w8w18izqc] {
            max-width: 100%;
            border-radius: 15px;
        }
        .container .card .image i[b-6w8w18izqc] {
            max-width: 100%;
            border-radius: 15px;
            color:white;
        }

    .container .card .content[b-6w8w18izqc] {
        position: relative;
        top: -140px;
        padding: 10px 15px;
        color: #111;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .container .card:hover .content[b-6w8w18izqc] {
        margin-top: 30px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0.2s;
    }
.content[b-6w8w18izqc]{
    color:white;
}
.Technical[b-6w8w18izqc] {
    color: white;
   
    width: 100%;
    text-align:center;
}
.Technical h1[b-6w8w18izqc] {
    color: white;
}
    .Technical progress[b-6w8w18izqc] {
        color:red;
    }






/* _content/MyWebPage2/Pages/Experience.razor.rz.scp.css */
*[b-k73m1lwagc] {
    color: white;
}

.table[b-k73m1lwagc] {
    padding: 100px;
    width: 100%;
    height:400px;
    font-size: 15px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
table[b-k73m1lwagc] {
    width: 100%;
    border-color:dimgray;
   
}
td[b-k73m1lwagc] {
   
    height: 100px;
}
tr:nth-child(even)[b-k73m1lwagc] {
   
}
.ResumeButton button[b-k73m1lwagc] {
    background-color: #FF5733;
    color: white;
    border:none;
    border-radius:5px;
}
.ResumeButton button:hover[b-k73m1lwagc]{
    transform:scale(1.02);
}






/* _content/MyWebPage2/Pages/Index.razor.rz.scp.css */

.body[b-zllp0tmasc] {
    margin: -20px -24px 0 -35px;
    width: auto;
    height: 760px;
    background-position: center;
    border-bottom: 1px solid white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  
}
.h1[b-zllp0tmasc] {
    font-size: 25px;
    color:white;
    
}
.insideCircle[b-zllp0tmasc] {
    padding: 30px;
    animation: slow-b-zllp0tmasc 1s forwards;
}
insideCircle:hover[b-zllp0tmasc] {

}
@keyframes slow-b-zllp0tmasc {
    from {
       margin-left:-250px;
    }
    to {
        margin-left: 0px;
    }
}
.imageStyle[b-zllp0tmasc] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
}
.imageStyle:hover[b-zllp0tmasc]{
    transform: scale(1.02);
}

.introText[b-zllp0tmasc] {
    
    font-size: 12px;
    color: white;
}
.GreetingText[b-zllp0tmasc] {
    margin-top: 50px;
    text-align: center;
    color: white;
}


/* _content/MyWebPage2/Pages/LoginPage.razor.rz.scp.css */

form[b-3kjtsw76z1] {
    width: 20px auto;
    background-color: rgb(240, 224, 224);
    border-radius: 30px;
    box-shadow: 50px 25px 50px 0px rgba(0,0,0,5);
}
    form:hover[b-3kjtsw76z1] {
        color: #04619F;
        box-shadow: 20px 15px 30px 0px rgba(0,0,0,5);
        transform: scale(1.02);
        transition: 0.5s;
    }
.icon[b-3kjtsw76z1] {
    font-size: 108px;
    text-align:center;
}
.newuser[b-3kjtsw76z1] {
   
    text-align: right;
    font-size: 35px;
}
.newuser i:hover[b-3kjtsw76z1] {
    transform: scale(1.1);
}
input[b-3kjtsw76z1] {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    font-size: 27px;
    margin-top:-10px;
    text-align: center;
}
 input[b-3kjtsw76z1]::placeholder {
    font-size: 18px;
    text-align: center;
}

a[b-3kjtsw76z1]{
    text-decoration:none;
}
center[b-3kjtsw76z1]{
    height:70px;
}


.showPassword[b-3kjtsw76z1] {
    font-size: 15px;
}
.cheackBox[b-3kjtsw76z1] {
    width: 20px;
    height: 20px;
}

.LoginClass[b-3kjtsw76z1] {
    animation: Login-b-3kjtsw76z1 3s forwards;
}
@keyframes Login-b-3kjtsw76z1 {
    from {
        margin-top: -250px;
    }

    to {
        margin-top: 0px;
    }
}
button[b-3kjtsw76z1] {
    border: none;
    background: #04619F;
    width:80px;
    height:30px;
    border-radius:20px;
    color:white;
}
button:hover[b-3kjtsw76z1]{
    transform:scale(1.2);
    background-color:lightgreen;
}








/* _content/MyWebPage2/Pages/NewUser.razor.rz.scp.css */

form[b-fwtsuq9i5k] {
    width: 20px auto;
    background-color: rgb(240, 224, 224);
    border-radius: 30px;
    box-shadow: 50px 25px 50px 0px rgba(0,0,0,5);
}

    form:hover[b-fwtsuq9i5k] {
        color: #04619F;
        box-shadow: 20px 15px 30px 0px rgba(0,0,0,5);
        transform: scale(1.02);
        transition: 0.5s;
    }

.icon[b-fwtsuq9i5k] {
    font-size: 108px;
    text-align: center;
}

.newuser[b-fwtsuq9i5k] {
    text-align: right;
    font-size: 35px;
}
.newuser i:hover[b-fwtsuq9i5k] {
        transform: scale(1.1);
    }
a[b-fwtsuq9i5k] {
    text-decoration: none;
}
center[b-fwtsuq9i5k] {
    height: 70px;
}

input[b-fwtsuq9i5k] {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    font-size: 27px;
    text-align: center;
    margin-top:-10px;
}
    input[b-fwtsuq9i5k]::placeholder {
        font-size: 15px;
        text-align: center;
    }


.LoginClass[b-fwtsuq9i5k] {
    animation: Login-b-fwtsuq9i5k 3s forwards;
}

@keyframes Login-b-fwtsuq9i5k {
    from {
        margin-top: -250px;
    }

    to {
        margin-top: 0px;
    }
}

button[b-fwtsuq9i5k] {
    border: none;
    background: #04619F;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size:12px;
}

    button:hover[b-fwtsuq9i5k] {
        transform: scale(1.2);
        background-color: lightgreen;
    }

/* _content/MyWebPage2/Shared/MainLayout.razor.rz.scp.css */

.page[b-y9royroacc] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
   
 
}

main[b-y9royroacc] {
    flex: 1;
}

.sidebar[b-y9royroacc] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y9royroacc] {
    z-index:100;
    background-color: black;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
   
}
    .top-row a[b-y9royroacc] {
        text-decoration: none;
        color:white;
        font-size:18px;
    }
  

    .top-row[b-y9royroacc]  a, .top-row .btn-link[b-y9royroacc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y9royroacc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row a:hover[b-y9royroacc] {
        color: antiquewhite;
        border-bottom: 2px solid antiquewhite;
      
    }
    .top-row a:focus[b-y9royroacc] {
        border-bottom: 2px solid white ;
    }

    @media (max-width: 640.98px) {
        .top-row:not(.auth)[b-y9royroacc] {
        display: none;
    }

    .top-row.auth[b-y9royroacc] {
        justify-content: space-between;
    }

    .top-row a[b-y9royroacc], .top-row .btn-link[b-y9royroacc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y9royroacc] {
        flex-direction: row;
    }

    .sidebar[b-y9royroacc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y9royroacc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y9royroacc], article[b-y9royroacc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MyWebPage2/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fx568spddw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fx568spddw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fx568spddw] {
    font-size: 1.1rem;
}

.oi[b-fx568spddw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fx568spddw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fx568spddw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fx568spddw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fx568spddw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fx568spddw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fx568spddw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fx568spddw] {
        display: none;
    }

    .collapse[b-fx568spddw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fx568spddw] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
