
.input-field[b-3ji5sqopcf] {
    position: relative;
}

    .input-field input[b-3ji5sqopcf] {
        width: 350px;
        height: 60px;
        border-radius: 6px;
        font-size: 18px;
        padding: 0 15px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
    }

    .input-field label[b-3ji5sqopcf] {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 19px;
        pointer-events: none;
        transition: 0.3s;
    }

input:focus[b-3ji5sqopcf] {
    border: 2px solid #18ffff;
}

    input:focus ~ label[b-3ji5sqopcf],
    input:valid ~ label[b-3ji5sqopcf] {
        top: 0;
        left: 15px;
        font-size: 16px;
        padding: 0 2px;
        background: #060b23;
    }
