@if(Show)
{
 <section class=@active>
    <div class="modal-box">
            <i class='fas fa-smile' style='font-size:36px'></i>
        <h2>Completed</h2>
        <h3>@Content</h3>
        <div class="buttons">
              <button class="close-btn" @onclick="(() => Show = !Show)">Ok, Close</button>
        </div>
    </div>
</section>
}
@code {
    [Parameter]
    public string? Content { get; set; }
    [Parameter]
    public bool Show { get; set; } = false;

    private string? active { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadEducation);
    }
    private void LoadEducation()
    {
        System.Threading.Thread.Sleep(1000);
        active = "active";
    }


  
 

}
