@if(Show)
{
 <section class=@active>
    <span class="overlay" @onclick="(() => Show = !Show)">surendran</span>
    <div class="modal-box">
        <i class="fa-regular fa-circle-check"></i>
        <h2>Completed</h2>
        <h3>@Content</h3>
        <div class="buttons">
                <button class="close-btn" @onclick="(() => Show = !Show)">Ok, Close</button>
        </div>
    </div>
</section>
}
@code {
    [Parameter]
    public string? Content { get; set; }
    [Parameter]
    public bool Show { get; set; } = false;

    private string active = "";
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadEducation);
    }
    private void LoadEducation()
    {
        System.Threading.Thread.Sleep(1000);
        active = "active";
    }


  
 

}
