/* _content/MyWebPage2/Pages/About.razor.rz.scp.css */
body[b-3ji5sqopcf]{
    backdrop-filter:blur(10px);
}
.input-field[b-3ji5sqopcf] {
    position: relative;
}

    .input-field input[b-3ji5sqopcf] {
        width: 350px;
        height: 60px;
        border-radius: 6px;
        font-size: 18px;
        padding: 0 15px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
    }

    .input-field label[b-3ji5sqopcf] {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 19px;
        pointer-events: none;
        transition: 0.3s;
    }

input:focus[b-3ji5sqopcf] {
    border: 2px solid #18ffff;
}

    input:focus ~ label[b-3ji5sqopcf],
    input:valid ~ label[b-3ji5sqopcf] {
        top: 0;
        left: 15px;
        font-size: 16px;
        padding: 0 2px;
        background: #060b23;
    }



/*process bor*/
.progress[b-3ji5sqopcf] {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

    .progress[b-3ji5sqopcf]:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress > span[b-3ji5sqopcf] {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress .progress-left[b-3ji5sqopcf] {
        left: 0;
    }

    .progress .progress-bar[b-3ji5sqopcf] {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 2px;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    .progress .progress-left .progress-bar[b-3ji5sqopcf] {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress .progress-right[b-3ji5sqopcf] {
        right: 0;
    }

        .progress .progress-right .progress-bar[b-3ji5sqopcf] {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
            animation: loading-1-b-3ji5sqopcf 1.8s linear forwards;
        }

    .progress .progress-value[b-3ji5sqopcf] {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        border: 2px solid #ebebeb;
        font-size: 32px;
        line-height: 125px;
        text-align: center;
        position: absolute;
        top: 7.5%;
        left: 7.5%;
    }

    .progress.blue .progress-bar[b-3ji5sqopcf] {
        border-color: #049dff;
    }

    .progress.blue .progress-value[b-3ji5sqopcf] {
        color: #049dff;
    }

    .progress.blue .progress-left .progress-bar[b-3ji5sqopcf] {
        animation: loading-2-b-3ji5sqopcf 1.5s linear forwards 1.8s;
    }

    .progress.yellow .progress-bar[b-3ji5sqopcf] {
        border-color: #fdba04;
    }

    .progress.yellow .progress-value[b-3ji5sqopcf] {
        color: #fdba04;
    }

    .progress.yellow .progress-left .progress-bar[b-3ji5sqopcf] {
        animation: loading-3-b-3ji5sqopcf 1s linear forwards 1.8s;
    }

    .progress.pink .progress-bar[b-3ji5sqopcf] {
        border-color: #ed687c;
    }

    .progress.pink .progress-value[b-3ji5sqopcf] {
        color: #ed687c;
    }

    .progress.pink .progress-left .progress-bar[b-3ji5sqopcf] {
        animation: loading-4-b-3ji5sqopcf 0.4s linear forwards 1.8s;
    }

    .progress.green .progress-bar[b-3ji5sqopcf] {
        border-color: #1abc9c;
    }

    .progress.green .progress-value[b-3ji5sqopcf] {
        color: #1abc9c;
    }

    .progress.green .progress-left .progress-bar[b-3ji5sqopcf] {
        animation: loading-5-b-3ji5sqopcf 1.2s linear forwards 1.8s;
    }

@keyframes loading-1-b-3ji5sqopcf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2-b-3ji5sqopcf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3-b-3ji5sqopcf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4-b-3ji5sqopcf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5-b-3ji5sqopcf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress[b-3ji5sqopcf] {
        margin-bottom: 20px;
    }
}
/* _content/MyWebPage2/Pages/Contact.razor.rz.scp.css */
body[b-gb0ofual5f] {
}
.content[b-gb0ofual5f]{
    text-align:center;
}
.content h3[b-gb0ofual5f] {
    color: white;
}
.content span[b-gb0ofual5f] {
    color: white;
}
.content span:hover[b-gb0ofual5f] {
    transform: rotate(360deg);
    transition: 2s;
}
.locationIcon[b-gb0ofual5f]{
    color:white;
    font-size:140px;
}
input[b-gb0ofual5f] {
    outline:none;
    min-width: 30%;
    padding: 10px;
    border:none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    background:none;
    color:white;
}
.content a[b-gb0ofual5f] {
  color:white;
}
.content a :hover[b-gb0ofual5f]{
    color:white;
}

   
/* _content/MyWebPage2/Pages/Education.razor.rz.scp.css */
.Title[b-6w8w18izqc]{
    position:fixed;
    color:white;
    z-index:1;
}
 

    .container[b-6w8w18izqc] {
        width: 1200px !important;
        padding: 0 !important;
        margin-right: auto;
        margin-left: auto;


        @media screen and (min-width: 992px) and (max-width: 1439px) {
            max-width: 1279px !important;
            padding: 0 !important;
            margin: 0 80px !important;
            width: auto !important;[b-6w8w18izqc]
        }

        @media screen and (max-width: 991px) {
            max-width: 959px !important;
            margin: 0 16px !important;
            padding: 0 !important;
            width: auto !important;[b-6w8w18izqc]
        }
    }

.gradient-cards[b-6w8w18izqc] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;

    @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;[b-6w8w18izqc]
    }
}

.container-title[b-6w8w18izqc] {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

.card[b-6w8w18izqc] {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
    background-color:transparent;
}

.container-card[b-6w8w18izqc] {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
}

.bg-blue-box[b-6w8w18izqc] {
    position: relative;
}
    .bg-blue-box[b-6w8w18izqc]::after {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        content: "";
        z-index: -1;
        border-radius: 45px;
        background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
    }


.card-title[b-6w8w18izqc] {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}

.card-description[b-6w8w18izqc] {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}i[b-6w8w18izqc]{
     color:white;
     font-size:22px;
 }
label[b-6w8w18izqc] {
    font-size: 10px;
    color: white;
}
.fa-heart:hover[b-6w8w18izqc] {
    color: red;
    transform:scale(1.5);
}
.fa-comment:hover[b-6w8w18izqc] {
    color: aliceblue;
    transform: scale(1.05);
}
/* _content/MyWebPage2/Pages/Experience.razor.rz.scp.css */
.Title[b-k73m1lwagc] {
    position: fixed;
    color: white;
    z-index: 1;
}
 
.table[b-k73m1lwagc] {
    padding: 100px;
    width: 100%;
    height:500px;
    font-size: 15px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
table[b-k73m1lwagc] {
    width: 100%;
    border-color:dimgray;
   
}
td[b-k73m1lwagc] {
   
    height: 100px;
}

.ResumeButton button[b-k73m1lwagc] {
    background-color: #FF5733;
    color: white;
    border:none;
    border-radius:5px;
}
.ResumeButton button:hover[b-k73m1lwagc]{
    transform:scale(1.02);
}






/* _content/MyWebPage2/Pages/Index.razor.rz.scp.css */

.body[b-zllp0tmasc] {
    margin: -20px -24px 0 -35px;
    width: auto;
    min-height : 1000px;
    background-position: center;
    border-bottom: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    backdrop-filter: blur(100px);
}

.h1[b-zllp0tmasc] {
    font-size: 25px;
    color: white;
}

.insideCircle[b-zllp0tmasc] {
    padding: 30px;
    animation: slow-b-zllp0tmasc 1s forwards;
}

insideCircle:hover[b-zllp0tmasc] {
}

@keyframes slow-b-zllp0tmasc {
    from {
        margin-left: -250px;
    }

    to {
        margin-left: 0px;
    }
}

.imageBg[b-zllp0tmasc] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

    .imageBg img[b-zllp0tmasc] {
        transition: transform .5s ease;
    }

    .imageBg:hover img[b-zllp0tmasc] {
        transform: scale(1.5);
    }

.image:hover[b-zllp0tmasc] {
    transform: scale(1.05);
}

.image[b-zllp0tmasc] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageBg:hover .body[b-zllp0tmasc] {
    transform: scale(1.5);
}

.introText[b-zllp0tmasc] {
    font-size: 12px;
    color: white;
}

.GreetingText[b-zllp0tmasc] {
    margin-top: 15vw;
    text-align: center;
    color: white;
}
.GreetingText p[b-zllp0tmasc] {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}
/* _content/MyWebPage2/Shared/MainLayout.razor.rz.scp.css */

.page[b-y9royroacc] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
   
 
}

main[b-y9royroacc] {
    flex: 1;
}

.sidebar[b-y9royroacc] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y9royroacc] {
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
    .top-row a[b-y9royroacc] {
        text-decoration: none;
        color:white;
        font-size:18px;
    }
  

    .top-row[b-y9royroacc]  a, .top-row .btn-link[b-y9royroacc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y9royroacc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row a:hover[b-y9royroacc] {
        color: antiquewhite;
        border-bottom: 2px solid antiquewhite;
      
    }
    .top-row a:focus[b-y9royroacc] {
        border-bottom: 2px solid white ;
    }

    @media (max-width: 640.98px) {
        .top-row:not(.auth)[b-y9royroacc] {
        display: none;
    }

    .top-row.auth[b-y9royroacc] {
        justify-content: space-between;
    }

    .top-row a[b-y9royroacc], .top-row .btn-link[b-y9royroacc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y9royroacc] {
        flex-direction: row;
    }

    .sidebar[b-y9royroacc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y9royroacc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y9royroacc], article[b-y9royroacc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* _content/MyWebPage2/Shared/NavMenu.razor.rz.scp.css */
*[b-fx568spddw]{
    margin:0;
    padding:0;
}.navbar[b-fx568spddw] {
    z-index:1;
}
.navbar-toggler[b-fx568spddw] {
    display: block;
    position: absolute;
    right: 10PX;
    top: 10PX;
}
.top-row a[b-fx568spddw] {
    display: block;
}
.top-row[b-fx568spddw] {
    overflow: hidden;
   
    position: relative;
}
.top-row a[b-fx568spddw] {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.top-row a:hover[b-fx568spddw] {
    color: black;
}
@media (min-width: 641px) {
    .navbar-toggler[b-fx568spddw] {
    display: none;
}
.top-row[b-fx568spddw] {
   position:fixed;
display:flex;
justify-content:flex-end;
width:100%;
   background-color:transparent;
    
}
    .top-row a[b-fx568spddw] {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .top-row a:hover[b-fx568spddw] {
        color: antiquewhite;
      
    }
.collapse[b-fx568spddw] {
    /* Never collapse the sidebar for wide screens */
    display: block;
}
}
