@inherits LayoutComponentBase

<PageTitle>MyWebPage2</PageTitle>

<div class="page">
  

    <main>
        <div class="top-row px-4">
            <a href="#" >Home</a>
            <a href="Education">Education</a>
            <a href="Experience">Experience</a>
            <a href="Contact" >Contact</a>
            <a href="About" >About</a>
            <a href="LoginPage">Login</a>
        </div>
       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
