*{
    margin:0;
    padding:0;
}.navbar {
    z-index:1;
}
.navbar-toggler {
    display: block;
    position: absolute;
    right: 10PX;
    top: 10PX;
}
.top-row a {
    display: block;
}
.top-row {
    overflow: hidden;
   
    position: relative;
}
.top-row a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.top-row a:hover {
    color: black;
}
@media (min-width: 641px) {
    .navbar-toggler {
    display: none;
}
.top-row {
   position:fixed;
display:flex;
justify-content:flex-end;
width:100%;
   background-color:transparent;
    
}
    .top-row a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .top-row a:hover {
        color: antiquewhite;
      
    }
.collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}
}
