
<div class=" navbar navbar-dark">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
            <div class="top-row px-4">
                 <a href="#" >Home</a>
                 <a href="Education">Education</a>
                 <a href="Experience">Experience</a>
                 <a href="Contact" >Contact</a>
                 <a href="About" >About</a>
                
           </div>
        </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
