*{
    margin:0;
    padding:0;
}.navbar {
    z-index:1;
}
.navbar-toggler {
    display: block;
    position: absolute;
    right: 10PX;
    top: 10PX;
}
.top-row a {
    display: block;
}
.top-row {
    overflow: hidden;
    position: relative;
}
.top-row a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.top-row a:hover {
    color: black;
}.Logo{
     width:50px;
     height:50px;
     }
.UserLogo{
    width:40px;
    height:40px;
    background-color:white;
    border-radius:50%;
    z-index:3;
}
    .UserLogo a{
        padding:0;
        margin:0;
    }
    .UserImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      
    }
.iconContainer {
    display: none;
}
.UserLogo:hover .iconContainer {
    display: inline-block;
    position: fixed;
    top: 2%;
    right: 3%;
    width: 250px;
    height: 40px;
    cursor: pointer;
    color: white;
    z-index:-1;
    padding:1%;
    background-color: rgb(0,0,0,0.2);
    border-radius:20px;
  
}

    .iconContainer i:hover {
        transform: translateY(-5px);
    }


.iconContainer i:hover i::before {
    width:300px;
    height:20px;
    background-color:black;
   
}
.iconContainer span{
    display:none;
}
.iconContainer:hover span {
    display:block;
    position: fixed;
    top: 10%;
    right: 10%;
    background-color:rgba(0,0,0,0.2);
    padding: 5px 15px 5px 15px;
    height: 30px;
    border-radius: 20px;
}
@keyframes fadeIn {
    0% {
    
        right: 10%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}
.iconContainer i{
    font-size:25px;
}
.iconContainer i:nth-child(1) {
    position: fixed;
    top: 3%;
    right: 6%;
}

.iconContainer i:nth-child(2) {
    position: fixed;
    top: 3%;
    right: 9%;
}
.iconContainer i:nth-child(3) {
    position: fixed;
    top: 3%;
    right: 12%;
}
.iconContainer i:nth-child(4) {
    position: fixed;
    top: 3%;
    right: 15%;
}
.iconContainer i:nth-child(5) {
    position: fixed;
    top: 3%;
    right: 18%;
}

.search {
}

 

    .search input {
        background-color: rgb(0,0,0,0.4);
        border: none;
        padding: 2%;
        padding-left: 40px;
        border-radius: 20px;
        outline: none;
        color: white;
    }

        .search input::placeholder {
            font-size: 10px;
        }



/*Responsive */

@media (max-width: 641px) {
    .UserLogo {
         position:fixed;
         top:2%;
         right:70%;
         width:30px;
         height:30px;
     
    }
    .UserImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .iconContainer {
        display: inline-block;
        position: fixed;
        top: 1%;
        right:18%;
        width: 64%;
        height: 40px;
        cursor: pointer;
        color: white;
        z-index: -1;
        padding: 1%;
        background-color: rgb(0,0,0,0.2);
        border-radius: 20px;
    }
        .iconContainer i {
            display: block;
            position: fixed;
            z-index: 1000;
        }

            .iconContainer i:nth-child(1) {
               top:2%;
               right:20%;
              
            }

            .iconContainer i:nth-child(2) {
                top: 2%;
                right: 30%;
            }

            .iconContainer i:nth-child(3) {
                top: 2%;
                right: 40%;
            }

            .iconContainer i:nth-child(4) {
                top: 2%;
                right: 50%;
            }

            .iconContainer i:nth-child(5) {
                top: 2%;
                right: 60%;
            }



}

    @media (min-width: 641px) {
        .navbar-toggler {
            display: none;
        }

        .top-row {
            position: fixed;
            display: flex;
            width: 100%;
            background-color: transparent;
        }

            .top-row a {
                text-decoration: none;
                color: white;
                font-size: 15px;
            }

                .top-row a:hover {
                    color: antiquewhite;
                }

        .UserLogo {
            position: fixed;
            top: 2%;
            right: 2%;
        }

        .collapse {
            /* Never collapse the sidebar for wide screens */
            display: block;
        }
        .search i {
            position: absolute;
            top: 40%;
            left: 42%;
        }
   
    }

    @media screen (min-width: 1439px) {
        .UserLogo:hover .iconContainer {
            width: 200px;
            /* animation: fadeIn 1s;*/
        }
    }

    .block {
        display: none;
    }

    .show {
        display: block;
    }

    .cancelbtn {
        background-color: transparent;
        border: none;
        position: fixed;
        right: 38%;
        top: 20%;
        z-index: 100;
        animation: opacity 5s forwards;
    }

    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }