
<div class=" navbar navbar-dark">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
            <div class="top-row px-4">
            
                <img src="css\images\Logo1.png" class="Logo" />
             
                 <a href="#" >Home</a>
                 <a href="Education">Education</a>
                 <a href="Experience">Experience</a>
                 <a href="Contact" >Contact</a>
                 <a href="About" >About</a>
            <a href="#">
                <div class="search"><i class="fa fa-search"></i><input type="text" placeholder="Search something ..." /></div>
                 </a>
               
                <div class="UserLogo">
                <a href="ProfilePage">
                    @foreach(var i in ListUserInfo)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(i.USERIMAGE)}")" class="UserImage" />
                    }
                </a>
              
            <div class="iconContainer">
               <i class="material-icons" @onclick="showLoginPopup">person_pin</i>
               <i class="material-icons" @onclick="showRegisterPopup">person_add</i>
                <i class="material-icons">power_settings_new</i>
                <i class="material-icons">fingerprint</i>
                <i class="material-icons">settings</i>
            </div>
            </div>
        </div>
        </div>
</div>
<div class=@popUpLogin>
    <div class="Layout">
        <button type="button" class="cancelbtn" @onclick=@(() => popUpLogin ="block")><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
        <UserLoginPage />
    </div>
 </div>
<div class=@popURegister>
    <button type="button" class="cancelbtn" @onclick=@(() => popURegister ="block")><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
    <RegisterPage />
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    List<tblUserInfo>? ListUserInfo = new List<tblUserInfo>();
    public string? popUpLogin { get; set; } = "block";
    public string? popURegister { get; set; } = "block";

    protected override async Task OnInitializedAsync()
    {
        ListUserInfo = userService.GetPersonalInfo();

    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void showLoginPopup()
    {
        popURegister = "block";
        popUpLogin = "show";
    }
    private void showRegisterPopup()
    {
        popUpLogin = "block";
        popURegister = "show";
    }
}
