@if(show)
{
    <form class="form-popup">

            <button type="button" class="cancelbtn" @onclick=cancelLogin><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
    <div class="form-container">
            <h4>LOGIN</h4>
        <input type="text" placeholder="Enter Your Name" @bind="_user.USERNAME"><br />
        <input type="@passwordClass" placeholder="enter your password" @bind="_user.PASSWORD">
            <i class="far fa-eye" style=" cursor: pointer;margin-left:90%;" @onclick="show_password"></i>
            <p>@warning</p>
            <center>
                <input type="submit" value="submit" @onclick="LoginUser">
            </center>
            <label>Not a Member?<a href="/RegisterPopUp/true"> Singn up now </a></label>
        </div>
  
</form>
}
@code {
    [Parameter]
    public EventCallback<bool> OnLogin { get; set; }
    protected bool IsTrue { get; set; }

    [Parameter]
    public EventCallback<bool> Oncancel { get; set; }
    protected bool IsCancel { get; set; }



    [Parameter]
    public bool show { get; set; }

    tblUser _user = new tblUser();
    private string? LoginUserName { get; set; }
    private string? LoginPassword { get; set; }
    private string? passwordClass { get; set; }
    string? warning;



    protected override void OnInitialized()
    {
        _user.USERNAME = null;
        _user.PASSWORD = null;
        passwordClass = "password";

    }
    private void LoginUser()
    {
        if(userService.UserCheck(_user))
        {
            warning = null;           
            OnUserLoginTrue();
        }
        else
        {
            warning = "Invalid UserName or Password";
        }
    }
    protected async Task cancelLogin()
    {
        IsCancel = true;
        await Oncancel.InvokeAsync(IsCancel);
    }


    protected async Task OnUserLoginTrue()
    {
        
        IsTrue = true;
        await OnLogin.InvokeAsync(IsTrue);
    }



    private void show_password()
    {
        if(passwordClass == "password") passwordClass = "text";
        else passwordClass = "password";
    }

}
