*[b-fx568spddw]{
    margin:0;
    padding:0;
}.navbar[b-fx568spddw] {
    z-index:1;
}
.navbar-toggler[b-fx568spddw] {
    display: block;
    position: absolute;
    right: 10PX;
    top: 10PX;
}
.top-row a[b-fx568spddw] {
    display: block;
}
.top-row[b-fx568spddw] {
    overflow: hidden;
    position: relative;
}
.top-row a[b-fx568spddw] {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.top-row a:hover[b-fx568spddw] {
    color: black;
}.Logo[b-fx568spddw]{
     width:50px;
     height:50px;
     }
.UserLogo[b-fx568spddw]{
    width:40px;
    height:40px;
    background-color:white;
    border-radius:50%;
}
    .UserLogo a[b-fx568spddw]{
        padding:0;
        margin:0;
    }
    .UserImage[b-fx568spddw] {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      
    }
.iconContainer[b-fx568spddw] {
    display: none;
   
}
.UserLogo:hover .iconContainer[b-fx568spddw] {
    display: inline-block;
    position: fixed;
    top: 2%;
    right: 3%;
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: white;
    z-index: -1;
    padding:1%;
    background-color: rgb(0,0,0,0.2);
    border-radius:20px;
}.search[b-fx568spddw]{

}
    .search i[b-fx568spddw]{
        position:absolute;
        top:37%;
        left:42%;
    }
    .search input[b-fx568spddw] {
        background-color: rgb(0,0,0,0.4);
        border: none;
        padding: 2%;
        padding-left:40px;
        border-radius: 20px;
        outline: none;
        color:white;
        
    }
    .search input[b-fx568spddw]::placeholder{
        font-size:10px;
    }

    .iconContainer i:hover[b-fx568spddw] {
        transform: translateY(-5px);
    }
.iconContainer i:hover i[b-fx568spddw]::before {
    width:300px;
    height:20px;
    background-color:black;
   
}
    @keyframes fadeIn-b-fx568spddw {
        0% {
    
        right: 10%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}
.iconContainer i[b-fx568spddw]{
    font-size:25px;
}
.iconContainer i:nth-child(1)[b-fx568spddw] {
    position: fixed;
    top: 3%;
    right: 6%;
}

.iconContainer i:nth-child(2)[b-fx568spddw] {
    position: fixed;
    top: 3%;
    right: 8%;
}
.iconContainer i:nth-child(3)[b-fx568spddw] {
    position: fixed;
    top: 3%;
    right: 10%;
}
.iconContainer i:nth-child(4)[b-fx568spddw] {
    position: fixed;
    top: 3%;
    right: 12%;
}
.iconContainer i:nth-child(5)[b-fx568spddw] {
    position: fixed;
    top: 3%;
    right: 14%;
}
/*animation 2*/
   /* .iconContainer i:nth-child(1) {
        position: fixed;
        top: 1%;
        right: 72px;
        animation: chaild1 1s;
    }

    .iconContainer i:nth-child(2) {
        position: fixed;
        top: 5%;
        right: 75px;
        animation: chaild2 1s;
   
    }

    .iconContainer i:nth-child(3) {
        position: fixed;
        top: 9%;
        right: 55px;
        animation: chaild3 1s;
  
    }

    .iconContainer i:nth-child(4) {
        position: fixed;
        top: 10%;
        right: 30px;
        animation: chaild4 1s;
     
    }

    .iconContainer i:nth-child(5) {
        position: fixed;
        top: 8%;
        right: 4px;
        animation: chaild5 1s;
       
    }

@keyframes chaild1 {
    0% {
        top: 3%;
        right: 3%;
    }

    100% {
        top: 1%;
        right: 72px;
    }
}
@keyframes chaild2 {
    0% {
        top: 3%;
        right: 3%;
    }

    100% {
        top: 5%;
        right: 75px;
    }
}
@keyframes chaild3 {
    0% {
        top: 3%;
        right: 3%;
    }

    100% {
        top: 9%;
        right: 55px;
    }
}
@keyframes chaild4 {
    0% {
        top: 3%;
        right: 3%;
    }

    100% {
        top: 10%;
        right: 30px;
    }
}
@keyframes chaild5 {
    0% {
        top: 3%;
        right: 3%;
    }

    100% {
      
        top: 8%;
        right: 4px;
    }
}*/





/*Responsive */
@media (min-width: 641px) {
    .navbar-toggler[b-fx568spddw] {
    display: none;
}
.top-row[b-fx568spddw] {
   position:fixed;
   display:flex;
   width:100%;
   background-color:transparent;
    
}
    .top-row a[b-fx568spddw] {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .top-row a:hover[b-fx568spddw] {
        color: antiquewhite;
      
    }
    .UserLogo[b-fx568spddw] {
        position: fixed;
        top:2%;
        right:2%;
    }
        .collapse[b-fx568spddw] {
    /* Never collapse the sidebar for wide screens */
    display: block;
}
}
@media screen (min-width: 1439px) {
    .UserLogo:hover .iconContainer[b-fx568spddw] {
        width: 200px;
        /* animation: fadeIn 1s;*/
    }
}
