body[b-gb0ofual5f] {
}
.content[b-gb0ofual5f]{
    text-align:center;
}
.content h3[b-gb0ofual5f] {
    color: white;
}
.content span[b-gb0ofual5f] {
    color: white;
}
.content span:hover[b-gb0ofual5f] {
    transform: rotate(360deg);
    transition: 2s;
}
.locationIcon[b-gb0ofual5f]{
    color:white;
    font-size:140px;
}
    .locationIcon i:hover[b-gb0ofual5f]{
        transform:translateY(-20px);
    }
    input[b-gb0ofual5f] {
        outline: none;
        min-width: 30%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        background: none;
        color: white;
    }
.content a[b-gb0ofual5f] {
  color:white;
}
.content a :hover[b-gb0ofual5f]{
    color:white;
}

   