@if(imageData != null)
{
    <img src="@($"data:image/png;base64,{Convert.ToBase64String(imageData)}")" class=@className />
}else
{
    <div class=@className><i class='fas fa-user-circle'></i></div>
   
}

@code {
    [Parameter]
    public string? className { get; set; }
    private byte[]? imageData { get; set; }
    //protected override void OnInitialized()
    //{
    //    imageData = userService.CurrentUserImage();
    //}

    protected override async Task OnInitializedAsync()
    {
        imageData = await userService.CurrentUserImage1();
    }

}
