*[b-fx568spddw]{
    margin:0;
    padding:0;
}.navbar[b-fx568spddw] {
    z-index:1;
}
.navbar-toggler[b-fx568spddw] {
    display: block;
    position: absolute;
    right: 10PX;
    top: 10PX;
}
.top-row a[b-fx568spddw] {
    display: block;
}
.top-row[b-fx568spddw] {
    overflow: hidden;
   
    position: relative;
}
.top-row a[b-fx568spddw] {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.top-row a:hover[b-fx568spddw] {
    color: black;
}
@media (min-width: 641px) {
    .navbar-toggler[b-fx568spddw] {
    display: none;
}
.top-row[b-fx568spddw] {
   position:fixed;
display:flex;
justify-content:flex-end;
width:100%;
   background-color:transparent;
    
}
    .top-row a[b-fx568spddw] {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .top-row a:hover[b-fx568spddw] {
        color: antiquewhite;
      
    }
.collapse[b-fx568spddw] {
    /* Never collapse the sidebar for wide screens */
    display: block;
}
}
