@page "/About"
@using MyWebPage2.Data

@inject UserServices userService;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<input type="file" @bind="imagepath">

<button class="btnclass" @onclick="submitimg"> Manage Your PersonalInfo</button>
@*@foreach(var i in data)
{
    <img src="@($"data:image/png;base64,{Convert.ToBase64String(i.USERIMAGE)}")" />
    <img src=img class="image" />
}*@


@code {

    tblUserInfo user = new tblUserInfo();
    List<tblUserInfo> data = new List<tblUserInfo>();
    public string? imagepath { get; set;}

    protected override async Task OnInitializedAsync()
    {
        data = userService.GetPersonalInfo();
        //Image = await dbContext.Images.FindAsync(Id);
    }


   
   
    private void submitimg()
    {
        userService.imagedata(imagepath);
        //byte[] imageData = ReadFile(imagepath);
        
    }
    //private byte[] ReadFile(string sPath)
    //{
       
    //}

    
}
