@page "/About"
@using MyWebPage2.Data
@inject IWebHostEnvironment env

@inject UserServices userService;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<input  type="file" @bind="imagepath">
<div>@Directory</div>
<div>@Filename</div>

<button class="btn btn-primary" @onclick="ParsePath">Click me</button>




   
















<button class="btnclass" @onclick="submitimg"> Manage Your PersonalInfo</button>
@*@foreach(var i in data)
{
    <img src="@($"data:image/png;base64,{Convert.ToBase64String(i.USERIMAGE)}")" />
    <img src=img class="image" />
}*@


@code {

    tblUserInfo user = new tblUserInfo();
    List<tblUserInfo> data = new List<tblUserInfo>();
    public string? imagepath { get; set;}

    protected override async Task OnInitializedAsync()
    {
        data = userService.GetPersonalInfo();
        //Image = await dbContext.Images.FindAsync(Id);
    }


   
   
    private void submitimg()
    {
        userService.imagedata(imagepath);
        //byte[] imageData = ReadFile(imagepath);
        
    }
    //private byte[] ReadFile(string sPath)
    //{
       
    //}


    private string Directory { get; set; }
    private string Filename { get; set; }

    private void ParsePath(MouseEventArgs e)
    {

        this.Directory =Path.GetDirectoryName(this.imagepath);
        this.Filename = Path.GetFileName(this.imagepath);
    }


    
}
