@if(Show)
{
    <div class="OuterBox">
        <p>@Content</p>
    </div>
    <button class="btn" @onclick="(() => Show = !Show)">Close</button>
}



<style>
    .OuterBox {
        position: fixed;
        top: 0;
        left:34%;
        width: 26rem;
        height: 10rem;
        z-index:1000;
        background-color: rgba(0,0,0,0.8);
        padding:30px;
    }p{
        font-weight:600;
        color:white;
        text-align:Center;
    }

    .btn{
        position:absolute;
        top:20%;
        left:47%;
        z-index:1000;
        font-weight:200;
      
        padding:2px 20px 2px 20px ;
        color:white;
        background-color:orange;
    }

</style>
@code {
    [Parameter]
    public string? Content { get; set; }
    private bool Show { get; set; } = true;

}
