@page "/Contact"

<PageTitle>Education</PageTitle>
<h3>Contact :</h3>
<center> 
    <div class="locationIcon">
        <i class="	fas fa-map-marker-alt fa-stack-11x"></i>
       
    </div>
    <span>Address: 24/12 , kanthanchavadi, chennai-600041</span>




<div class="content ">

<span class="fa-stack fa-lg" Tooltip="surendran">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-twitter fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-facebook-f fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-facebook-messenger fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <a href="https://github.com/surendran-180202" target="_blank"><i class="fab fa-github fa-stack-1x"></i></a>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-linkedin-in fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-whatsapp fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-whmcs fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-instagram fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGMvdMcsqsQQvDSdrflmRdSGbSfWLSjvjLdWHVjhvTmNHMpqLxNXvrRKMCkLDttmwxJPDvZ" target="_blank"> <i class="fab fa-google fa-stack-1x"></i></a>
</span>
</div>

<br/>
    <div class="col-75">
        <input type="text" id="fname"  placeholder="Leave Your Command...">
    </div>
</center>
@code {

}
