@page "/Contact"
@using MyWebPage2.Data
@using System.IO

<PageTitle>Education</PageTitle>
<h3>Contact :</h3>
<center> 
    <div class="locationIcon">
        <i class="	fas fa-map-marker-alt fa-stack-11x"></i>
       
    </div>
    <span>Address: 24/12 , kanthanchavadi, chennai-600041</span>




<div class="content ">

<span class="fa-stack fa-lg" Tooltip="surendran">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-twitter fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-facebook-f fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-facebook-messenger fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <a href="https://github.com/surendran-180202" target="_blank"><i class="fab fa-github fa-stack-1x"></i></a>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-linkedin-in fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-whatsapp fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-whmcs fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
    <i class="fab fa-instagram fa-stack-1x"></i>
</span>
<span class="fa-stack fa-lg">
    <i class="far fa-circle fa-stack-2x"></i>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGMvdMcsqsQQvDSdrflmRdSGbSfWLSjvjLdWHVjhvTmNHMpqLxNXvrRKMCkLDttmwxJPDvZ" target="_blank"> <i class="fab fa-google fa-stack-1x"></i></a>
</span>
</div>

<br/>
    <div class="col-75">
        <input type="text" id="fname" placeholder="Leave Your Command..." @bind="NewComment">
      
        <button type="submit" class="SubmitCmdBtn" @onclick="newComment"><i class="fa fa-arrow-circle-right"></i></button><br />
        <label style="color:red;font-size:10px;">@ErrorMsg</label>
    </div>
</center>

@*<InputFile OnChange="HandleFileUpload" />

<button @onclick="UploadImage">Upload</button>
*@

@code {

    UserServices userService = new UserServices();
    private string? NewComment { get; set; }
    private string? Title { get; set; }
    private string? ErrorMsg { get; set; }


    //private IFileListEntry file;
    //private byte[] imageBytes;



    protected override void OnInitialized()
    {


    }
     private void newComment()
    {
        if(NewComment != null)
        {
            Title = "Contact";
            userService.newComment(NewComment, Title);
            NewComment = null;
        }
        else
        {
            ErrorMsg = "Input Field is Empty";
        }

    }


    //private void HandleFileUpload(IFileListEntry[] files)
    //{
    //    file = files.FirstOrDefault();
    //    if(file != null)
    //    {
    //        using(var ms = new MemoryStream())
    //        {
    //            file.Data.CopyTo(ms);
    //            imageBytes = ms.ToArray();
    //        }
    //    }
    //}


    //private async Task UploadImage()
    //{
    //    if(file != null)
    //    {
    //        // Save imageBytes to the SQL database using Entity Framework or your preferred method
    //        // Example: dbContext.Images.Add(new Image { Data = imageBytes });
    //        // Then, save changes to the database
    //        // await dbContext.SaveChangesAsync();
    //    }
    //}
   
}

   
}
