@page "/Explore"
<PageTitle>Explore</PageTitle>

<br/>


<div class="row">
    <div class="col-md-3">
        <div class="chatUser">
            <div class="search"><i class="fa fa-search"></i><input type="text" placeholder="Search User ..." /><div class="enterBtn"><i class="fa fa-arrow-circle-right"></i></div> </div><br />
            @for(int i = 0; i < 20; i++)
            {
                <div class="chatBoxOutLine" style="padding:5px;">
            <div class="row" >
                <div class="col-md-2">
                            <span><img src="/css/images/UserImage1.png" /></span>
                </div>
                <div class="col-md-10">
                            <div class="UserContent">
                                <label style="font-size:12px;">User Name </label><br/>
                                <small>erbrthrththrthrthrthdfbdfbdfbfgbfgbgfbryjthr</small>
                            </div>
                </div>
            </div>
            </div>
            }
        </div>
        
    </div>

<div class="col-md-9">
    <div class="flex-container wrap">
        @for(int i = 0; i < 20; i++)
        {
            <div class="flex-item">
                    <div class="content">
                        @* <span>This is content</span>*@
                        <div class="iconContainer">
                            <i class="fa fa-share-alt"></i>&nbsp;
                            <i class='fas fa-comment'></i>&nbsp;
                            <i class='fas fa-user-alt'></i>&nbsp;
                        </div>
                    </div>
                <span><img src="/css/images/UserImage1.png"/></span>
                <p>...</p>
                <img src="/css/images/image1.jpg"/>
             
            </div>

        }
    </div>
</div>

</div>






@code{
    tblUser AddUser = new tblUser();
    List<tblExperience> Experiencetable = new List<tblExperience>();

    protected override async Task OnInitializedAsync()
    {
       // await Task.Run(LoadEducation);
    }
    private void LoadEducation()
    {
        System.Threading.Thread.Sleep(2000);
        Experiencetable = userService.Experience();
    }
    protected override void OnInitialized()
    {
       
    }
    public void ViewResume()
    { }

   
}
