.Title {
    position: fixed;
    color: white;
    z-index: 1;
}
 
.table {
    padding: 100px;
    width: 100%;
    height:500px;
    font-size: 15px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
table {
    width: 100%;
    border-color:dimgray;
   
}
td {
   
    height: 100px;
}

.ResumeButton button {
    background-color: #FF5733;
    color: white;
    border:none;
    border-radius:5px;
}
.ResumeButton button:hover{
    transform:scale(1.02);
}



/*new design*/

.nav{

}
    .nav span:nth-child(1)
    {
        position:fixed;
        top:50%;
        left:5%;

    }
    .nav span:nth-child(2) {
        position: fixed;
        top: 50%;
        right: 5%;
    }
    .nav span i {
        font-size:50px;
        color:white;
    }




/*new*/

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    overflow:hidden;
  
}

.wrap {

    flex-wrap: wrap;
}


.chatUser{
    width:25%;
    background-color:rgba(255,255,255,0.5);
    height:100vh;
    position:fixed;
    overflow-x:hidden;
    padding:20px;
  
    
}
.UserContent {
    overflow-x: hidden;
    

}

.chatBoxOutLine {
    width: 100%;
    padding: 20px;
    border-bottom: 0.1px solid white;
}
.chatUser span {
}
    .chatUser span img{
        width:30px;
        border-radius:50px;
    }
.flex-item {
    padding: -5px;
    width: 250px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    /*  background: url("/css/images/image1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;*/
   
}
    .flex-item span {
        padding: 5px;
        width: 30px;
        border-radius: 50%;
    }
        .flex-item span img {
            width: 30px;
            border-radius: 50%;
        }
    .flex-item img {
        width: 100%;
        border-radius: 20px;
    }
    .flex-item p {
        position: absolute;
        margin:-30px 0 0 220px;
        color: white;
        font-weight:500;
        cursor:pointer;
    }
.content {
   display:none;
}
.flex-item:hover .content {
    position: absolute;
    display: block;
    color: white;
    width: 250px;
 /*   background-color: rgba(0,0,0,0.5);*/
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.9));
    padding: 30px;
    border-radius: 20px;
    margin: 110px 0 0 0;
}
.iconContainer {
 cursor:pointer;
    color: white;
    font-size: 20px;
}

.search {


  
}



    .search input {
        background-color: rgb(255,255,255,0.4);
        border: none;
        padding: 2% 18% 2% 2%;
        padding-left: 40px;
        border-radius: 20px;
        outline: none;
        color: white;
    }

        .search input::placeholder {
            font-size: 10px;
        }

    .search i {
        position: absolute;
        margin: 10px 0 0 10px;
    }
.enterBtn {
    cursor:pointer;
    font-size: 20px;
    position: absolute;
    margin: -37px 0 0 250px;
}


