@page "/"

<PageTitle>Index</PageTitle>

<div class="body" style="background-image:url('../css/images/image7.jpg'); ">

    <div class="insideCircle">
        <div class="row">
            <div class="col-md-12">
                <div class="imageBg">
                    <img src=@imageSource class="image" />
                </div>

            </div>
            <div class="col-md-10">
                <h1 class="h1">MR.B.Surendran</h1>
                <span class="introText">CEO of SB Software & Solution</span>
            </div>
        </div>
    </div>
    <div class="GreetingText">
        <p>@Datetime Mr.Surendran !</p>
       
    </div>
</div>
@code {
    private string? imageSource;
    private string? Datetime;


    protected override void OnInitialized()
    {
        if(DateTime.Now.Hour < 12)
        {
            Datetime = "Good Morning";
        }
        else if(DateTime.Now.Hour < 17)
        {
            Datetime = "Good Afternoon";
        }
        else
        {
            Datetime = "Good Evening";
        }

        imageSource = $"css/images/image8.png";
    }

}
