
.body {
    margin: -20px -24px 0 -35px;
    width: auto;
    min-height : 1000px;
    background-position: center;
    border-bottom: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    backdrop-filter: blur(100px);
}

.h1 {
    font-size: 25px;
    color: white;
}

.insideCircle {
    padding: 30px;
    animation: slow 1s forwards;
}

insideCircle:hover {
}

@keyframes slow {
    from {
        margin-left: -250px;
    }

    to {
        margin-left: 0px;
    }
}

.imageBg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

    .imageBg img {
        transition: transform .5s ease;
    }

    .imageBg:hover img {
        transform: scale(1.5);
    }

.image:hover {
    transform: scale(1.05);
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageBg:hover .body {
    transform: scale(1.5);
}

.introText {
    font-size: 12px;
    color: white;
}

.GreetingText {
    margin-top: 15vw;
    text-align: center;
    color: white;
}
.GreetingText p {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}
