@page "/"
<PageTitle>Index</PageTitle>
<div class="body" style="background-image:url('../css/images/image7.jpg'); " >
     
    <MotivationQuote motivationQuote=@motivationQuote VType="string" />
  
    <div class="UserImageDesign"></div>
        <div class="GreetingText">
        <img src="css/images/PAGif2.gif" />
            <p>@Datetime Mr.@CurrentUserName !</p>
            <p class="hoverMsg">What Can I Do For You ?</p>
        </div>
</div>

<div class="viewComments">
    <div class="content">
        <div class="container">
            <div class="list">
                @foreach(var educationDetails in EducationDetails)
                {
                   @foreach(var i in educationDetails.COMMENT)
                   {
                           <div class="UserIcon"><img src=@imageSource/></div><br/>
                           <div class="message">@i.COMMENT </div>
                   }
                }
            </div>
        </div>
    </div>
</div>
<PopupImage NotificationPopUp=@popupNotification />
@code {
    private string? imageSource;
    private string? Datetime;
    private string? CurrentUserName { get; set; }
    private string? popupNotification { get; set; }

    List<tblEducationDetails>? EducationDetails = new List<tblEducationDetails>();
    List<string> motivationQuote = new List<string>();
    protected override void OnInitialized()
    {
        if(userService.CurrentUserName()!=null) 
        {
            CurrentUserName = userService.CurrentUserName(); 
        }
        else CurrentUserName = "Guest";
        imageSource = $"css/images/UserImageBgRemoved.png";

        if(DateTime.Now.Hour < 12) Datetime = "Good Morning";
        else if(DateTime.Now.Hour < 17) Datetime = "Good Afternoon";
        else Datetime = "Good Evening";
        EducationDetails = userService.Education();

        motivationQuote = userService.motivationQuote();

        popupNotification = "notificationBoxHidePopup";
    }
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        popupNotification = "notificationBoxShowPopup";

    }


  

}
