@page "/"
<PageTitle>Index</PageTitle>
<div class="body" style="background-image:url('../css/images/image7.jpg'); " >
   @* <video autoplay muted loop class="videoBackground"><source src="../Storage/videoBackground2.mp4" type="video/mp4"></video>*@
    <MotivationQuote motivationQuote=@motivationQuote VType="string" />
    <div class="UserImageDesign"></div>
        <div class="GreetingText">
        <img src="css/images/PAGif2.gif"  />
            <p>@Datetime Mr.@CurrentUserName !</p>
            <p class="hoverMsg">What Can I Do For You ?</p>
        </div>
</div>

<div class="viewComments">
    <div class="content">
        <div class="container">
            <div class="list">
                @foreach(var educationDetails in EducationDetails)
                {
                   @foreach(var i in educationDetails.COMMENT)
                   {
                        <div class="UserIcon"><UserImage className="UserImage2"/></div>

                        <br />
                           <div class="message">@i.COMMENT </div>
                   }
                }
            </div>
        </div>
    </div>
</div>
<PopupImage Show=@popupNotification />

@code {

    private string? Datetime;
    private string? CurrentUserName { get; set; }
    private bool popupNotification { get; set; }


    List<tblEducationDetails>? EducationDetails = new List<tblEducationDetails>();
    List<string> motivationQuote = new List<string>();
    protected override void OnInitialized()
    {
        if(userService.CurrentUserName()!=null) 
        {
            CurrentUserName = userService.CurrentUserName();
            EducationDetails = userService.Education();
            motivationQuote = userService.motivationQuote();

        }
        else CurrentUserName = "Guest";

        if(DateTime.Now.Hour < 12) Datetime = "Good Morning";
        else if(DateTime.Now.Hour < 17) Datetime = "Good Afternoon";
        else Datetime = "Good Evening";
    }
    protected override async Task OnInitializedAsync()
    {
        if(userService.CurrentUserName()!=null)
        {
            await Task.Delay(5000);
            popupNotification = true;
        }
    }
 


  

}
