
form {
    width: 20px auto;
    background-color: rgb(240, 224, 224);
    border-radius: 30px;
    box-shadow: 50px 25px 50px 0px rgba(0,0,0,5);
}

    form:hover {
        color: #04619F;
        box-shadow: 20px 15px 30px 0px rgba(0,0,0,5);
        transform: scale(1.02);
        transition: 0.5s;
    }

.icon {
    font-size: 108px;
    text-align: center;
}

.newuser {
    text-align: right;
    font-size: 35px;
}
.newuser i:hover {
        transform: scale(1.1);
    }
a {
    text-decoration: none;
}
center {
    height: 70px;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    font-size: 27px;
    text-align: center;
    margin-top:-10px;
}
    input::placeholder {
        font-size: 15px;
        text-align: center;
    }


.LoginClass {
    animation: Login 3s forwards;
}

@keyframes Login {
    from {
        margin-top: -250px;
    }

    to {
        margin-top: 0px;
    }
}

button {
    border: none;
    background: #04619F;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size:12px;
}

    button:hover {
        transform: scale(1.2);
        background-color: lightgreen;
    }

