@page "/ProfilePage"
@using MyWebPage2.Data
@inject NavigationManager uriHelper;
@inject UserServices dataAccessLayer
<PageTitle>ProfilePage</PageTitle>


<h3 style="color:white;position:fixed;">ProfilePage:</h3>
<br/>

<div class="row">
    <div class="col-md-3">
        <div class="nav" >
            <ul>
                <li @onclick="PersonalDetails"><i class='fas fa-user-circle' style='font-size:24px'></i>PersonalInfo</li>
                <li @onclick="EducationDetails"><i class='fas fa-user-graduate' style='font-size:24px'></i>EducationInfo</li>
                <li><i class='fas fa-laptop-code' style='font-size:24px'></i>ExperienceInfo</li>
                <li><i class='fas fa-cogs' style='font-size:24px'></i>Settings</li>
            </ul>
        </div>
        <p class="about"><i class="fa fa-exclamation-circle"></i>about</p>
    </div>
    <div class="col-md-7">
        
        
        <div class="@PersonalDetailsContent">
            <center>
                <h3>welcome Mr.Surendran</h3>
                <div class="profileBackground">
                    <div class="profilePhoto"> <img src=@imageSource class="image" /><i class='fas fa-cogs' style='font-size:24px'></i></div>
                   

                </div>
            </center>

            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">PersonalInfo</p>
                        <table >
                           <tr>
                                <th>Name</th>
                                <td>Surendran</td>
                           </tr>
                            <tr>
                                <th>BirthDay</th>
                                <td>18022002</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>Male</td>
                           </tr>
                          
                        </table> 
                      @*  <p class="card-description">:Surendran<br />BirthDay:18022002<br />Gender:Male</p>*@
                        <center>
                            <button class="btnclass">Manage Your PersonalInfo</button>
                        </center>

                    </div>
                </div>
            </div>

            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">ContactInfo</p>
                        <p class="card-description">Phone:8190970043<br />Alternative:6383329281<br />Email:Surendran18022002@gmail.com</p>
                        <center>
                            <button class="btnclass">Manage Your ContactInfo</button>
                        </center>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">AddressInfo</p>
                        <p class="card-description">DoorNo:24/35<br />Street:ViveganantherStreet<br />AREA:KulalarPalayam<br />City:Bodinayakanur<br />District:Theni<br />Pincode:625513</p>
                        <center>
                            <button class="btnclass">Manage Your AddressInfo</button>
                        </center>
                    </div>
                </div>
            </div>

        </div>





        <div class="@EducationDetailsContent">


            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">EduvationInfo</p>
                      
                        <center>
                            <button class="btnclass">Manage Your PersonalInfo</button>
                        </center>

                    </div>
                </div>
            </div>

            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">ContactInfo</p>
                        <p class="card-description">Phone:8190970043<br />Alternative:6383329281<br />Email:Surendran18022002@gmail.com</p>
                        <center>
                            <button class="btnclass">Manage Your ContactInfo</button>
                        </center>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">AddressInfo</p>
                        <p class="card-description">DoorNo:24/35<br />Street:ViveganantherStreet<br />AREA:KulalarPalayam<br />City:Bodinayakanur<br />District:Theni<br />Pincode:625513</p>
                        <center>
                            <button class="btnclass">Manage Your AddressInfo</button>
                        </center>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
   


       
          
            
      


@code {

    public string? PersonalDetailsContent{ get; set; }
    public string? EducationDetailsContent { get; set; }
    public string? ExperienceDetailsContent { get; set; }
    private string? imageSource;



    protected override void OnInitialized()
    {
        PersonalDetailsContent = "show";
        EducationDetailsContent = "hide";
        ExperienceDetailsContent = "hide";
        imageSource = $"css/images/UserImage{1}.png";
    }

    private void PersonalDetails()
    {
        PersonalDetailsContent = "show";
        EducationDetailsContent = "hide";
        ExperienceDetailsContent = "hide";

    }
    private void EducationDetails()
    {
        PersonalDetailsContent = "hide";
        EducationDetailsContent = "show";
        ExperienceDetailsContent = "hide";
    }
    private void ExperienceDetails()
    {
        PersonalDetailsContent = "hide";
        EducationDetailsContent = "hide";
        ExperienceDetailsContent = "show";
        
    }

}
