<div class="form-popup">
    <div class="form-container">
            <h4>LOGIN</h4>
        <input type="text" placeholder="Enter Your Name" @bind="_user.USERNAME"><br />
        <input type="@passwordClass" placeholder="enter your password" @bind="_user.PASSWORD">
            <i class="far fa-eye" style=" cursor: pointer;margin-left:90%;" @onclick="show_password"></i>
            <p>@warning</p>
            <center>
                <input type="submit" value="submit" @onclick="LoginUser">
            </center>
            <label>Not a Member?<a href="/RegisterPopUp/{popupshow}"> Singn up now </a></label>
        </div>
    </div>


@code {
    tblUser _user = new tblUser();
    private string? LoginUserName { get; set; }
    private string? LoginPassword { get; set; }
    private string? passwordClass { get; set; }

    string? warning;
    private void closePopUpLoginIn()
    {

    }
    protected override void OnInitialized()
    {
        _user.USERNAME = null;
        _user.PASSWORD = null;
        passwordClass = "password";

    }
    private void LoginUser()
    {
        if(userService.UserCheck(_user))
        {
            warning = null;           
            uriHelper.NavigateTo("/");
        }
        else
        {
            warning = "Invalid UserName or Password";
        }
    }
    private void show_password()
    {
        if(passwordClass == "password") passwordClass = "text";
        else passwordClass = "password";
    }

}
