<div class="@PopUpLogin">
    <div class="form-popup">
        <button type="button" class="cancelbtn" @onclick="closePopUpLoginIn"><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
        <div class="form-container">
            <h4>LOGIN</h4>
            <input type="text" placeholder="Enter Your Name" @bind="AddUser.USERNAME"><br />
            <input type="@passwordClass" placeholder="enter your password" @bind="AddUser.PASSWORD">
            <i class="far fa-eye" style=" cursor: pointer;margin-left:90%;" @onclick="show_password"></i>
            <center>
                <input type="submit" value="submit" @onclick="LoginUser">
            </center>
            <label>Not a Member?<a href="/RegisterPopUp/{popupshow}"> Singn up now </a></label>
        </div>

    </div>
</div>

@code {
    tblUser AddUser = new tblUser();
    private string? LoginUserName { get; set; }
    private string? LoginPassword { get; set; }
    private string? passwordClass { get; set; }

    [Parameter]
    public string? PopUpLogin { get; set; } = "LoginPopUphide";



    private void closePopUpLoginIn()
    {
        PopUpLogin = "LoginPopUphide";
        //uriHelper.NavigateTo($"/LoginPopUp/LoginPopUphide");
    uriHelper.NavigateTo("/");
    }
    protected override void OnInitialized()
    {
        passwordClass = "password";
       
    }
    private void LoginUser()
    {
        if (userService.UserCheck(AddUser)) OnInitialized();
        {
            uriHelper.NavigateTo($"/LoginPopUp/{"LoginPopUphide"}");
            //Index.pageRefresh();
        }
    }

    private void show_password()
    {
        if(passwordClass == "password") passwordClass = "text";
        else passwordClass = "password";
        //a.popUpValue = "hidePopup";
    }
 }
